label {
    font-size: 100%;
    width: 100px;
    height: 20px;
    font-weight: bold;
    margin: 5px 0;
    
}

input {
    width: 200px;
    height: 20px;
    padding:5px;
    margin: 5px 0;
    
}
.button {
    background: #17aa56;
    color: #fff;
    width: 100px;
    height:30px;
    border-radius: 7px;
    padding: 5px ;
}
form[novalidate] input{
    border-left-width: 8px;
    border-color: #3498db;
    border-style: solid;
}
input[required].ng-pristine{
    border-color: #e74c3c;
}
input.ng-invalid.ng-dirty{
    border-color: #e74c3c;
}
input.ng-valid.ng-dirty{
    border-color: #2ecc71;
}
textarea[required].ng-pristine{
    border-color: #e74c3c;
}
textarea.ng-invalid.ng-dirty{
    border-color: #e74c3c;
}
textarea.ng-valid.ng-dirty{
    border-color: #2ecc71;
}
button {
     background-color: blue;
}
