<!DOCTYPE html>
<html lang="en-US" ng-app="myApp">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Assignment_B</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/angular.min.js"></script>
<script src="js/angular-messages.min.js"></script>
<script src="js/myScript.js"></script>
<link rel="stylesheet" href="css/myStyle.css">


</head>

<body class="container">
	<div id="contactDetails" style="width:600px;height:400px;margin:50px 100px;" >		
		<form id="contact-form" name="contactform" class="form-horizontal" novalidate>
			<div class="form-group">
				<label class="control-label col-sm-2">Name:</label>
				<div class="col-sm-10">
				<input type="text" name="name" id="name" class="form-control" tabindex="1" 
        				ng-model="name" 
        				ng-minlength="3" 
        				ng-maxlength="8"
        				required/>
				<div class="help-block" ng-messages="contactform.name.$error" style="color:red" role="alert" ng-if="contactform.name.$touched">
    				<div ng-message="required">Please Enter your Name</div>
    				<div ng-message="minlength">Your field is too short</div>
    				<div ng-message="maxlength">Your field is too long</div>
  				</div>
				</div>
		 	</div>
		
			<div class="form-group">
				<label for="email" class="control-label col-sm-2">Email:</label>
				<div class="col-sm-10">
				<input type="text" name="email" id="email" tabindex="2" ng-model="email"  class="form-control"
        				ng-minlength="3" 
        				ng-maxlength="20"
        				required/>
				<div class="help-block" ng-messages="contactform.email.$error" style="color:red" role="alert" ng-if="contactform.email.$touched">
    					<div ng-message="required">Please enter your Email Address</div>
    					<div ng-message="minlength">Your field is too short</div>
    					<div ng-message="maxlength">Your field is too long</div>
  				</div>
				</div>
		  	</div>
		
			<div class="form-group">
				<label for="subject" class="control-label col-sm-2">Subject:</label>
				<div class="col-sm-10">
				<input type="text" name="subject" class="form-control" id="subject" tabindex="3" ng-model="subject" 
        				ng-minlength="3" 
        				ng-maxlength="20"
        				required/>

				<div class="help-block" ng-messages="contactform.subject.$error" style="color:red" role="alert" ng-if="contactform.subject.$touched">
    				<div ng-message="required">Enter the subject</div>
    				<div ng-message="minlength">Your field is too short</div>
    				<div ng-message="maxlength">Your field is too long</div>
  				</div>
				</div>
		  	</div>
		
			<div class="form-group">
				<label for="comments" class="control-label col-sm-2">Comments:</label>
				<div class="col-sm-10">
				<textarea name="comments" id="comments" class="form-control" cols="45" rows="5" tabindex="4" ng-model="comments" 
        				ng-minlength="3" 
        				ng-maxlength="300"
        				required></textarea>
				<div class="help-block" ng-messages="contactform.comments.$error" style="color:red" role="alert" ng-if="contactform.comments.$touched">
    					<div ng-message="required">Please Type a Message to send</div>
    					<div ng-message="minlength">Your field is too short</div>
    					<div ng-message="maxlength">Your field is too long</div>
  				</div>
				</div>
		  	</div>
			<div class="form-group"> 
    			<div class="col-sm-offset-2 col-sm-10">
      				<button type="submit" ng-disabled="contactform.$invalid" class="button" name="submit" id="submit" class="btn btn-primary" tabindex="5">Send</button>
    			</div>
  			</div>
	

  		</form>
  	
	</div>
   
</body>

</html>
