button{
    border: none;
  }
/* ==========================================================================
* header
 ==========================================================================*/
#header {
  position:absolute;
  top: 0;
  width: 100%;
  height: 110px;
  -webkit-transition: transform .5s;
  transition: transform .5s;
  z-index:999999;
  margin: -5px 0 0 0;
  transition: margin 0.5s, background-color 1s ease;
  
  visibility: hidden;/*å…ˆéš±è—*/
}
#header.fixed {
  position: fixed;
  height: 120px;
  margin: 0 0 0 0;
  /*background-color: rgba(5, 85, 135, .8);*/
  background-color: rgba(50, 50, 50, .85);
}

#header .container {
  position:relative;
}

#header .logo {
  position: absolute;
  top: 51px;
  left:6px;
  z-index:999;
  color: #4c4c4c;
  font-size: 14px;
  line-height: 24px;
  font-weight: bolder;
  font-family: DFNHei;
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  height: 52px;
  width: 214px;
  background-size: 214px 52px;
  /*transition: all .4s ease;*/
}
.max-xl-size #header .logo {
  left:15px;
}
.max-md-size #header .logo {
  position: absolute;
  top: 23px;
  left:8px;
  height: 44px;
  width: 180px;
  background-size: 180px 44px;
}
.max-sm-size #header {
  height: 60px;
  background-color:#030e26;
}
.max-sm-size #header .logo {
  top: 20px;
  /*left:20px;*/
  height: 30px;
  width: 125px;
  background-size: 125px 30px;
}
.max-xs-size #header .logo {
  top: 20px;
  left:0;
  height: 28px;
  width: 115px;
  background-size: 115px 28px;
}
#header .navigation {
  height: 100%;
  widht: 100%;
  position:relative;
}
#header .navigation .close-m {
  /*display:none;*/
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 999999999!important;
  /*z-index: 10000!important;*/
  padding: 0;
  color: #fff;
  transition: all .2s;
  font-size: 35px;
  text-decoration: none;
  text-align: center;
}
#header .navigation .close-m:hover {
  color: #fffaa5;
  transform:rotate(90deg);
}
#header .menu {
  position:absolute;
  margin-left: 50px;
  top:20px;
  z-index:99;
}
#header .menu > ul {
  margin: 0;
  padding: 0;
  list-style: none
}
#header .menu > ul > li {
  text-align: center;
  transition: background-color .4s ease;
  margin: 0;
  padding: 0;
  list-style: none
}
#header .menu > ul > li.search-sm:hover {
  background-color: rgba(5, 85, 135, 0)!important;
}

#header .menu > ul > li.login-sm {
  display: none!important;
}
.max-sm-size #header .menu > ul > li.login-sm {
  display: block!important;
}
#header .menu > ul > li.login-sm:hover {
  background-color: #79001F !important;
}
#header .menu > ul > li.login-sm a{
  color: #FFF!important;
  font-size:14px;
  text-transform: capitalize;
  width:84%;
  background-color: #323232;
  padding:10px;
  margin:10px 0;
  border-radius:50px;
}
.max-xs-size #header .menu > ul > li.login-sm a{
  width:64%;
}
#header .menu > ul > li > a {
  color: #fefeff;
  font-size: 17px;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  padding: 20px 5px;
  text-transform: uppercase;
  transition: color .4s ease;
}
/*inco START*/
#header .menu > ul > li > a > i {
  width:27px;
  height:27px;
  display: inline-block;
  background-repeat:no-repeat;
  /*background-size:cover;*/
  position:relative;
  top:6px;
  right:13px;
}
#header i.inco-home {
  background-image: url(images/inco-home.png);
}
#header i.inco-pro {
  background-image: url(images/inco-pro.png);
}

#header i.inco-sol {
  background-image: url(images/inco-sol.png);
}
#header i.inco-case {
  background-image: url(images/inco-case.png);
}
#header i.inco-sup {
  background-image: url(images/inco-sup.png);
}
#header i.inco-par {
  background-image: url(images/inco-par.png);
}
#header i.inco-tra {
  background-image: url(images/inco-tra.png);
}
#header i.inco-inv {
  background-image: url(images/inco-inv.png);
}
#header i.inco-where {
  background-image: url(images/inco-where.png);
}
#header i.inco-com {
  background-image: url(images/inco-com.png);
}
#header i.inco-news {
  background-image: url(images/inco-news.png);
}
#header i.inco-contact {
  background-image: url(images/inco-contact.png);
}


/*inco END*/
#header .menu > ul > li > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(5, 85, 135, .85);
}
#header .menu > ul > li > ul > li{
  margin: 0;
  padding: 0;
  list-style: none;
}
#header .menu > ul > li > ul > li > a {
  color:#fefeff;
  font-size:16px;
  letter-spacing:1px;
  text-decoration: none;
  display: inline-block;
  padding: 13px 5px;
}

#header .menu > ul > li > ul > li > ul,
#header .menu > ul > li > ul > li > ul > li {
  list-style: none;
}

#header .menu > ul > li > ul > li > ul > li > a {
  color:#d2d2d2;
  font-size:15px;
  text-decoration: none;
  display: inline-block;
  padding: 18px 5px;
}
#header .menu > ul > li > ul > li > ul > li:hover > a {
  color:#529CE0;
}
#header .menu > ul > li.active > a {
  color: #eda8a8;
  font-weight:bold;
}
/*B*/
#header .nav > li > a:hover,
#header .nav > li > a:focus {
  background-color: transparent;
}
#header .nav .open > a,
#header .nav .open > a:hover,
#header .nav .open > a:focus {
  background-color: transparent !important;
  border-color: transparent !important;
}
#header .dropdown-menu {
  border-radius: 0;
}

#header .dropdown-menu > li > a:hover,
#header .dropdown-menu > li > a:focus {
  background-color: transparent !important;
}

.min-sm-size #header .menu {
  float:left;
  padding:70px 0 0 0;
  margin-left:-10px;
}
.min-sm-size #header .menu > ul > li {
  display: inline-block;
  position:relative;
}
.min-sm-size #header .menu > ul > li.home {
  display:none;
}
.min-sm-size #header .menu > ul > li:after {
  color:#fefeff;
  font-size:15px;
  font-weight:bold;
  content:"/";
  display:block;
  position: absolute;
  top:50%;
  left:-5px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%)
}
.min-sm-size #header .menu > ul > li:nth-child(1):after,
.min-sm-size #header .menu > ul > li:nth-child(2):after,
.min-sm-size #header .menu > ul > li:nth-child(3):after,
.min-sm-size #header .menu > ul > li:nth-child(4):after {
  content:"";
  display:none;
}
.min-sm-size #header .menu > ul > li > a {
  font-size: 18px;
  font-weight:bold;
  letter-spacing:.5;
  padding: 20px 18px;
  transition: color .4s ease , transform .4s ease;
}
.min-sm-size #header .menu > ul > li > a > i {
  display:none;
}
/*å¹³æ¿æ©«å¼é¡¯ç¤º*/
/*.min-sm-size .landscape #header .menu > ul > li > a {
  font-weight:normal;
}*/
.min-sm-size #header .menu > ul > li > a:hover {
  color: #e6003b;
  -moz-transform:translateY(-0.25em);
  -webkit-transform:translateY(-0.25em);
  -o-transform:translateY(-0.25em);
  -ms-transform:translateY(-0.25em);
  transform:translateY(-0.25em);
}
.min-sm-size #header .menu > ul > li.active > a {
  color: #e6003b;
}
.min-sm-size #header .menu > ul > li .caret {
  display:none;
}
.min-sm-size #header .menu > ul > li > ul {
  position:absolute;
}
.min-sm-size #header .menu > ul > li.sm,
.min-sm-size #header .menu .dropdown-menu-sm {
  display:none;
}
.min-sm-size #header .menu > ul > li.pro > ul {
  float:none !important;
  text-align:center;
  width: 100% !important;
  max-width: 100% !important;
  margin:auto auto auto  0px !important;
  padding:20px 30px;
  position: fixed;
  top: 130px;
  left:0!important;
  right:0!important;

  background-color: rgba(50,50,50,.95);
  z-index: 99999;
}
.min-sm-size #header .menu > ul > li.pro > ul > li {
  width: 780px;

  margin: aut;
  display: inline-block;
}
.min-sm-size #header .menu > ul > li.pro > ul > li:hover{
  background-color: rgba(0,0,0,.5);
}
.min-sm-size #header .menu > ul > li.pro > ul > li:hover > a  {
  color: #e6003b;
}
.min-sm-size #header .menu > ul > li.pro > ul > li > a {
  float:left;
  font-size:17px;
  letter-spacing:0;
  text-align: right;

  width:24%;
  padding-right:10px;
  transition:all .5s;
}
.min-sm-size #header .menu > ul > li.pro > ul > li > ul {
  float:left;
  width:76%;
  padding-left:20px;
  margin-top:7px;
  margin-left:10px;
  text-align: left;
}
.min-sm-size #header .menu > ul > li.pro > ul > li > ul:before {
  content:">";
  color: #8a8a8a;
}
.min-sm-size #header .menu > ul > li.pro > ul > li > ul > li {
  display: inline-block;
}
.min-sm-size #header .menu > ul > li.pro > ul > li > ul > li:before {
  content:"/";
  color: #d2d2d2;
}
.min-sm-size #header .menu > ul > li.pro > ul > li > ul > li:first-child:before {
  content:"";
}
.min-sm-size #header .menu > ul > li.pro > ul > li > ul > li > a {
  font-size: 16px;
  color: #d2d2d2;
  letter-spacing:.5px;
  text-decoration: none;
  padding: 3px 16px;
  display: inline-block;
  transition:all .5s;
}
.min-sm-size #header .menu > ul > li.pro > ul > li > ul > li > a:hover{
  color: #529CE0;
  text-decoration: underline;
}
.min-sm-size #header .navigation .close-m {
  display:none;
}
/*B*/
.min-sm-size #header .nav .dropdown-submenu > a:after {
  display:none;
}
.min-sm-size #header .nav .dropdown-menu {
  /*display: block;*/
  background-color: transparent;
  border-radius: 0;
  border: 1px solid transparent;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
}
.min-sm-size #header .nav .dropdown-menu .dropdown-menu{
  display: block;
}
.min-sm-size #header .nav .dropdown-submenu .dropdown-menu {
  left: 22%;
  margin-top: 7px;
}

.min-md-size #header .menu {
  padding:65px 0 0 245px;
}
.min-md-size #header .menu > ul > li.pro > ul {
  padding:30px;
}
.min-md-size #header .menu > ul > li.pro > ul > li {
  width: 980px;
}
.min-md-size #header .menu > ul > li.pro > ul > li > a {
  font-size:18px;
  width:18%;
}
.min-md-size #header .nav .dropdown-submenu .dropdown-menu {
  left: 0;
  /*left: 17%;*/
  margin: 7px 0;
  position:relative;
}
.min-md-size #header .nav > li > a:hover,
.min-md-size #header .nav > li > a:focus {
  color: #e6003b;
}
.min-md-size #header .nav .open > a,
.min-md-size #header .nav .open > a:hover,
.min-md-size #header .nav .open > a:focus {
  color: #e6003b;
  /*color: #FFF;*/
}
.min-md-size #header .dropdown-menu > li > a:hover,
.min-md-size #header .dropdown-menu > li > a:focus {
  color: #e6003b;
}
/**/
.min-lg-size #header .menu > ul > li.pro > ul > li {
  width: 1200px;
  /*margin:5px 0;*/
}
.min-lg-size #header .menu > ul > li.pro > ul > li > a {
  padding: 13px 5px;
}

/*JOE*/
.max-sm-size #header .menu {  
  width:100%;
  top:55px;
  background-color: rgba(0, 124, 195, .9);
  
  opacity: 0;
  /*z-index:9999;*/
  position: fixed;
  right: -100%;
  bottom: 0;
  transition: all .6s;  
}
.max-sm-size #header .menu.active {
  opacity: 1;
  right: 0;
}
.max-sm-size #header .menu > .nav {/*é«˜åº¦100%å·è»¸*/
  overflow-y: auto;
  overflow-x:hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
/*JOE end*/
.max-sm-size #header .menu > ul > li {
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, .5);
}
.max-sm-size #header .menu > ul > li:last-child {
  border-bottom: none;
}
.max-sm-size #header .menu > ul > li:hover {
  background-color: rgba(210, 240, 255, .7);
}
.max-sm-size #header .menu > ul > li{
  display:block;
  width:100%;
}
.max-sm-size #header .menu > ul > li:hover > a{
  color: #0096d6;
}
.max-sm-size #header .menu > ul > li > ul > li:hover > a {
  color: #fdd000;
}
.max-sm-size #header .menu > ul > li > ul > li > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba( 50, 50, 50, .4);
}
.max-sm-size #header .menu > ul > li > ul > li > ul > li {
  border-top: 1px solid #797979;
}
.max-sm-size #header .menu > ul > li > ul > li > ul > li:hover {
  background-color: rgba( 50, 50, 50, .5);
}
.max-sm-size #header .navigation .close-m {
  z-index: 9999;
}
/*b*/
.max-sm-size #header .dropdown-menu {
  position: inherit;
  width: 100%;
  text-align: center;
  padding:0;
  margin: 0;
  border: none;
  background-color: rgba(0, 85, 135, 1);
}
.max-sm-size #header .dropdown-menu > li {
  border-top: 1px solid #333;
}
.max-sm-size #header .dropdown-menu > li:nth-child(1) {
  border-top:none;
}
/*B*/
.max-sm-size #header .nav > li.open,
.max-sm-size #header .nav > li.open:hover,
.max-sm-size #header .nav > li.open:focus {
  background-color: #95cbea;
}
.max-sm-size #header .nav > li.open > a,
.max-sm-size #header .nav > li.open > a:hover,
.max-sm-size #header .nav > li.open > a:focus {
  color: #0096d6;
  font-weight: bold;
}
.max-sm-size #header .nav > li > ul > li.open > a,
.max-sm-size #header .nav > li > ul > li.open > a:hover,
.max-sm-size #header .nav > li > ul > li.open > a:focus {
  color: #fdd000;
}
.max-sm-size #header .nav .open > li > a,
.max-sm-size #header .nav .open > li > a:hover,
.max-sm-size #header .nav .open > li > a:focus {
  color: #0096d6;
}
.max-sm-size #header .nav > li > ul > li.open > ul,
.max-sm-size #header .nav > li > ul > li.open:hover > ul,
.max-sm-size #header .nav > li > ul > li.open:focus > ul {
  border-bottom: 3px solid #27363F;
}
.max-sm-size #header .menu > ul > li > ul > li > a {
  padding: 18px 5px;
}
/**/
#header .aside {
  position:absolute;
  top:25px;
  right:6px;
  z-index:99;
  /*å‹•ç•«*/
  visibility: visible;
  animation-name: fadeInUp;
}
.max-xs-size #header .aside {
  /*å‹•ç•«*/
  animation-name: fadeIn;
}
#header .share {
  display:inline-block;
}
.share a {
  color: #FFF;
  font-size:16px;
  line-height:28px;
  text-align:center;
  width:28px;
  height:28px;
  overflow:hidden;
  margin: 0 5px;
  display:inline-block;
  background-color: rgba(27, 92, 152, 1);
  border-radius:100%;
  vertical-align: middle;
  -webkit-transition: box-shadow 0.2s;
     -moz-transition: box-shadow 0.2s;
          transition: box-shadow 0.2s;
  position: relative;
  text-decoration: none;
  transition: transform .2s ease;
}

.share i img{
  position:relative;
  top:-1px;
}

.share a:after {
  top: 0;
  left: 0;
  padding: 0;
  -webkit-transition: -webkit-transform 0.5s, all 0.5s;
  -moz-transition: -moz-transform 0.5s, all 0.5s;
  transition: transform 0.5s, all 0.5s;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /*box-shadow: 0 0 0 1px #323232;*/
  box-shadow: 0 0 0 1px #1b5c98;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.share a:before {
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
}
.share a:hover:after,
.share a.active:after {
  /*-webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);*/
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
}
.share a:hover,
.share a.active {
  box-shadow: 0 0 0 2px #e6003b;
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
#header .share .item-search a {
  background-color: rgba(50, 50, 50, 1);
}
#header .share .item-search a:hover {
  background-color: rgba(121, 0, 31, 1);
}
#header .links {
  display: inline-block;
  vertical-align: top;
  margin-top:2px;
}
#header .links li {
  position:relative;
}
#header .links a {
  color: #c8c8c8;
  font-size: 13px;
  background-color: #323232;
  text-decoration: none;
  font-family: Verdana;
  letter-spacing:0;
  padding:8px 17px;
  margin: 0 4px;
  border-radius:20px;
  transition: color .4s ease , background-color .4s ease ,transform .4s ease;
  position:relative;
}
#header .links a:hover {
  color: #FFF;
  background-color: #79001F;
}

#header .links .icon-globe-inv {
  font-size:18px;
  position:absolute;
  top:4px;
  left:8px;
}
#header .links .lan > a {
  padding-right:30px;
  padding-left:35px;
}
#header .links .lan > a:after {
  color: #c8c8c8;
  font-size:18px;
  content:"▼";
  display:block;
  width:20px;
  height:20px;
  position:absolute;
  top:3px;
  right:0;
}
/*èªžç³»ä¸‹æ‹‰*/
.lenList {
  display:none;
  position: absolute;
  top:32px;
  right:0;
  left:0;
  z-index:99999;
}
.lenList li {
}
.lenList li a {
  color: #FFF;
  display: block;
  text-decoration: none;
  background-color: rgba(50, 50, 50, .5)!important;
  transition: background-color .4s ease;
  text-align: center;
  padding: 10px 0!important;
  margin:0 3px 3px 3px!important;
}
.lenList li a:hover {
  background-color: rgba(230, 0, 59, .5)!important;
}
#header .links .item-menu a{
  color: #FFF;
  font-size:24px!important;
  width:48px;
  height:38px;
  line-height:38px;
  text-align:center;
  padding:0 !important;
  border-radius:4px;
  display:block;
  background-color:#007cc3;
  margin-top:-8px;
  margin-right:-3px;
  
  visibility: hidden;/*å…ˆéš±è—*/
}
#header .links .item-menu a:hover{
  color: #007cc3;
  background-color: #A4DDFF;
}
.max-xl-size .lenList li a {
  padding:15px 0;
}
.max-sm-size #header .links .icon-globe-inv {
  font-size:17px;
  top:2px;
  left:6px;
}
.max-sm-size #header .links .lan > a:after,
.min-sm-size .landscape #header .links .lan > a:after {/*å¹³æ¿æ©«å¼é¡¯ç¤º*/
  font-size:14px;
  content:"▼";
  width:15px;
  height: auto;
  position:absolute;
  top:5px;
  right:6px;
}
.max-sm-size #header .share li {
  display:none;
}
/*.max-sm-size #header .share .item-search {
  display:block;
}*/
.max-sm-size #header .aside {
  position:absolute;
  top:20px;
  right:0px;
}
.max-sm-size #header .links a {
  font-size: 12px;
  font-family:  'Arial', sans-serif !important;
  padding:6px 15px;
}
.ios #header .links a {
  font-family: 'MHei', 'PingFang TC', 'Helvetica Neue', 'Helvetica', 'STHeitiTC-Light', 'Arial', sans-serif !important;
}
.max-sm-size #header .links .lan > a {
  padding-right:30px;
  padding-left:30px;
}
.max-sm-size .lenList li a {
  padding:10px 0;
}
.max-sm-size #header .links .item-login {
  display:none;
}
/*.max-xs-size #header .links span {
  display:none;
}*/
.max-xs-size #header .links .item-menu a{
  font-size:23px!important;
  width:44px;
  height:36px;
  line-height:36px;
  margin-right:0;
}
.max-xs-size #header .links .lan > a {
  padding-right:25px;
  padding-left:30px;
}
.max-xs-size #header .links .lan > a:after {
  font-size:12px;
  width:auto;
  top:5px;
  right:10px;
}

.min-sm-size #header .links .item-menu {
  display:none;
}


/* ==========================================================================
* header end
 ==========================================================================*/
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
  
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
ul.rows {
    margin: 0;
    padding: 0;
    list-style: none;
}



 /* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  -moz-animation-name: fade;
  -moz-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@-moz-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}







    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    footer .navList {
    width: 16%;
    display: inline-block;
    vertical-align: top;
}
footer .navList .list {
    margin: 5% 0 8% 0;
}
footer .navList ul {
    list-style: none;
}
#footer .copyright {
    color: #fff;
    font-size: 0.86em;
    line-height: 3.5em;
    letter-spacing: .5px;
    text-align: center;
    background-color: #323232;
}
  /* ==========================================================================
* footer [top]
 ==========================================================================*/
#footer .top {
  display:none;
  width:50px;
  height:50px;
  padding:5px;
  z-index: 6;
  border-radius:5px;
  background-color:#09c;
  transition: border-bottom-color .2s;
  position: absolute;
  bottom: 0;
  right: 0;
}
#footer .top.fixed {
  display: block;
  position: fixed;
  bottom: 45px;
  right: 15px;
  z-index: 890;
}
#footer .top span {
  color: #fff;
  font-size: 0.95em;
}
#footer .top span:before {
  content:"︿";
  font-size: 1.2em;
  display:inline-block;
  position: absolute;
  top:-3px;
  left:0;
  right:0;
}
/*#footer .top span i {
  color: #FFF;
  font-size: 20px;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin:0;
}*/
#footer .top:hover {
  background-color:#015d80;
}
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  



.icon-globe-inv::before {
    content: '\e804';
}

#header .menu > ul > li > a {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .5;
    padding: 20px 18px;
    transition: color .4s ease , transform .4s ease;
}